*{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: rgb(57, 57, 90);
  width: 100%;
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.passwordBox{
  padding: 20px;
  background-color: blueviolet;
  width: 350px;
  
}

.passwordBoxin{
  display: flex;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 5px;
}

.passwordBoxin button {
  flex-basis: 20%;
  padding: 10px 0px;
}

.passlength{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}

.passlength input {
  width: 60px;
  padding: 10px 0px;

}

.btn{
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}